﻿@model FinalProject_Lifestyle.com.Models.BinhLuan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BinhLuan</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tieude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tieude)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Noidung)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Noidung)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ngaygioviet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ngaygioviet)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.BinhluanID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
