﻿@model IEnumerable<FinalProject_Lifestyle.com.Models.BinhLuan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tieude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Noidung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaygioviet)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tieude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Noidung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaygioviet)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BinhluanID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BinhluanID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BinhluanID })
        </td>
    </tr>
}

</table>
