﻿@model Blog.Models.Tag

@using (Html.BeginForm("Create", "Tag", new { idTag = ViewData["tag"]}))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add Tag</legend>

        <div class="editor-field">
            @Html.EditorFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}