﻿@model Blog.Models.Comment


@using (Html.BeginForm("Create", "Comment", new {idpost = ViewData["post"]}))
{
   
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add Comment</legend>

        
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
