﻿@model LifeStyle.Models.TangCan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TangCan</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DayCreate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DayCreate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfileID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfileID)
    </div>
</fieldset>

<h2>Bình Luận</h2>

<fieldset>
    <legend></legend>
    @foreach (var binhluan in Model.BinhLuan_TangCans)
    {
        <div class="display-field">
        @Html.DisplayFor(x => binhluan.Title)
    </div>
    }

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TangCanID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
