﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="~/Content/Site.css"  />
        @Styles.Render("~/Content/Site.css")

        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("LifeStyle.com", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                            <li>@Html.ActionLink("Thể dục - Thể thao", "index", "TDTT")</li>
                            <li>@Html.ActionLink("Tăng Cân", "index", "TangCan")</li>
                            <li>@Html.ActionLink("Giảm Cân", "index", "GiamCan")</li>
                            <li>@Html.ActionLink("Công cụ", "index", "COngCu")</li>
                            <li>@Html.ActionLink("Liên kết Website", "index", "WebLienKet")</li>
                            <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Diễn đàn", "Contact", "Home")</li>

                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                   
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
