﻿@model Blog_T5.Models.Post

@{
    ViewBag.Title = "Details";
}



<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DayCreate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DayCreate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfileID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfileID)
    </div>
</fieldset>

<h2>AddComment</h2>
<fieldset>
@Html.Partial("_addComment",new Blog_T5.Models.Comment(), ViewData);
 </fieldset>


<h2>Comment</h2>
<fieldset>
    <div id="Result"
    <legend>Comment</legend>
    @foreach (var comment in Model.Comments.OrderBy(x => x.Lasttime).Take(10)) 
    {
        <div class="display-field">
        <h2>Cách đây : @Html.DisplayFor(x => comment.Lasttime ) phút</h2>

    </div>
        <div class="display-field">
        @Html.DisplayFor(x => comment.Body)
    </div>
    }
        </div>
</fieldset>

<h2>List Tag</h2>
<fieldset>
    <legend>List Tag</legend>
    @foreach(var tag in Model.Tags) 
    {
        <div class="display-field">
         @Html.ActionLink(tag.Content, "ViewLinkTagByID", new {id=tag.ID })

    </div>
        
    }
</fieldset>


<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
