﻿@model FinalProject_Lifestyle.com.Models.GiamCan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>GiamCan</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tenbaiviet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tenbaiviet)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ngaygio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ngaygio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tomtat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tomtat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Noidung)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Noidung)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sodiemdanhgia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sodiemdanhgia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Solanxem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Solanxem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Hinhanh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hinhanh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfileID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfileID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.BaivietID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
