﻿@model Blog_T5.Models.Comment


<div class="display-field">
        <h2>Cách đây : @Html.DisplayFor(Model => Model.Lasttime ) phút</h2>

    </div>
        <div class="display-field">
        @Html.DisplayFor(Model => Model.Body)
    </div>
