﻿@model Blog_T5.Models.Tag

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Tag</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>
</fieldset>

<h2>List Post</h2>
<fieldset>
    <legend></legend>
    @foreach(var post in Model.Posts) 
    {
        
        <div class="display-field">
        @Html.DisplayFor(x => post.Title)
    </div>
        <div class="display-field">
        @Html.DisplayFor(x => post.Body)
    </div>
    }
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
