﻿
@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

@model IEnumerable<Blog_T5.Models.Tag> 

@using Blog_T5.Models;

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
        </th>
        <th></th>
    </tr>

@foreach (Tag tag in @Model) {
    <tr>
        <td>
           
                @Html.ActionLink(tag.Content, "ViewLinkTagByID", new {id=tag.ID })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=tag.ID }) |
            @Html.ActionLink("Details", "Details", new { id=tag.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=tag.ID })
        </td>
    </tr>
}

</table>
