﻿@model Blog_T5.Models.Tag



@{
    ViewBag.Title = "ViewLinkTagByID";
}

<h4>List Post</h4>
@foreach (var post in Model.Posts)
{
    
    <div class="display-field">
        @Html.DisplayFor(x => post.Body)
    </div>
}