﻿@model LifeStyle.Models.BinhLuan

@using (Html.BeginForm("Create", "BinhLuan", new { idtdtt = ViewData["idtdtt"]}))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AddComment</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Author)
            @Html.ValidationMessageFor(model => model.Author)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}