﻿@model LifeStyle.Models.TDTT

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết Bài Viết</h2>

<fieldset>
    <legend>TDTT</legend>
    <div>
          
                  
                
                              
    </div>
    <div class="display-field">
            <h2>Chủ đề : @Html.DisplayFor(model => model.Title)</h2>
    </div>
    <div>
          
                  
                
                              
    </div>

    <div class="display-field">
             Ngày viết : @Html.DisplayFor(model => model.DayCreate)
    </div>
    -----------------------------------------------
    
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    
    

    
</fieldset>

<h2>Bình luận</h2>
@Html.Partial("_addBinhLuan",new LifeStyle.Models.BinhLuan(), ViewData);


<h2>Danh sách bình luận</h2>
<fieldset>
    <legend></legend>
    @foreach (var binhluan in Model.BinhLuans)
    {
        <div class="display-field">
       <h2> @Html.DisplayFor(x => binhluan.Body)</h2>
    </div>
        <div class="display-field">
        Cách đây : @Html.DisplayFor(x => binhluan.Lasttime) phút
    </div>
        <div class="display-field">
       Họ tên :  @Html.DisplayFor(x => binhluan.Author)
    </div>
    }
  </fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
