﻿@model IEnumerable<LifeStyle.Models.TDTT>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách bài viết</h2>

<p>
    @Html.ActionLink("Tạo bài viết mới", "Create")
</p>
<table>
    <tr>
        <th>
            Nội dung 
        </th>
        <th>
            Ngày đăng :        
        </th>
        <th>
            Đăng bởi thành viên :
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.DayCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfileID)
        </td>
        <td>
           @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
           @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
