﻿@model FinalProject_Lifestyle.com.Models.BinhLuan

@using (Html.BeginForm("Create", "BinhLuan", new {idTDTT = ViewData["idTDTT"]}))
{
   
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Bình Luận</legend>

        
        <div class="editor-field">
            @Html.EditorFor(model => model.Noidung)
            @Html.ValidationMessageFor(model => model.Noidung)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}