﻿@model FinalProject_Lifestyle.com.Models.TDTT

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TDTT</legend>

        @Html.HiddenFor(model => model.TDTTID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Tenbaiviet)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tenbaiviet)
            @Html.ValidationMessageFor(model => model.Tenbaiviet)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ngaygio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ngaygio)
            @Html.ValidationMessageFor(model => model.Ngaygio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tomtat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tomtat)
            @Html.ValidationMessageFor(model => model.Tomtat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Noidung)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Noidung)
            @Html.ValidationMessageFor(model => model.Noidung)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sodiemdanhgia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sodiemdanhgia)
            @Html.ValidationMessageFor(model => model.Sodiemdanhgia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Solanxem)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Solanxem)
            @Html.ValidationMessageFor(model => model.Solanxem)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Hinhanh)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Hinhanh)
            @Html.ValidationMessageFor(model => model.Hinhanh)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserProfileID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserProfileID)
            @Html.ValidationMessageFor(model => model.UserProfileID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
