﻿@model IEnumerable<FinalProject_Lifestyle.com.Models.TDTT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tenbaiviet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaygio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tomtat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Noidung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sodiemdanhgia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solanxem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hinhanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfileID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tenbaiviet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaygio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tomtat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Noidung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sodiemdanhgia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Solanxem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hinhanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfileID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TDTTID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TDTTID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TDTTID })
        </td>
    </tr>
}

</table>
