﻿@model FinalProject_Lifestyle.com.Models.Thuong

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Thuong</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phanthuong)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phanthuong)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Sodiemthuong }) |
    @Html.ActionLink("Back to List", "Index")
</p>
