﻿@model FinalProject_Lifestyle.com.Models.WebLienKet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>WebLienKet</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tenweb)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tenweb)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Link)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Link)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.WeblienketID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
