﻿@model IEnumerable<FinalProject_Lifestyle.com.Models.WebLienKet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tenweb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tenweb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WeblienketID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WeblienketID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WeblienketID })
        </td>
    </tr>
}

</table>
